.members {
    .table-wrapper {
        overflow-x: scroll;
        .members-table {
            thead,
            tbody {
                tr {
                    th,
                    td {
                        min-width: 200px;
                        &:last-child {
                            background-color: white;
                            min-width: 100px !important;
                            width: 100px !important;
                            position: sticky;
                            top: 0;
                            right: 0;
                            padding: 1rem;
                        }
                    }
                }
            }
        }
    }
    .filters {
        .advanced-filter {
            cursor: pointer;
            p {
                margin-top: 2.3rem;
            }
        }
    }
    .pagination {
        overflow-x: scroll;
    }
}