<div class="members container">
    <form [formGroup]="requestForm" class="row">
        <div class="form-group" class="col-6">
            <label for="chamber_field">Chamber</label>
            <select class="form-control" id="chamber_field" formControlName="chamber" name="chamber_field" (change)="selectChamber()">
              <option [selected]="true" disabled>-- Select Chamber --</option>
              <option *ngFor="let chamb of chambers" [value]="chamb">{{ chamb | chambers }}</option>
            </select>
        </div>
        <div class="form-group" class="col-6">
            <label for="congress_field">Congress</label>
            <select class="form-control" id="congress_field" name="chamber_field" formControlName="congress" (change)="getMembers()">
              <option [selected]="true" disabled [value]="'unselected'">-- Select Congress --</option>
              <option *ngFor="let congress of congressList">{{congress}}</option>
            </select>
        </div>
    </form>

    <div class="filters row">
        <div class="form-group col-6">
            <label for="global_filter">Filter</label>
            <input [(ngModel)]="filters.global" (input)="filterData()" type="text" class="form-control" id="global_filter" placeholder="" [disabled]="showAdvancedFilters">
        </div>
        <div class="advanced-filter col-6" (click)="toggleAdvancedFilters()">
            <p>
                Advanced Filter
                <i *ngIf="!showAdvancedFilters" class="fa fa-chevron-down"></i>
                <i *ngIf="showAdvancedFilters" class="fa fa-chevron-up"></i>
            </p>
        </div>
        <div class="form-group" class="col-6" *ngIf="showAdvancedFilters">
            <label for="advanced_filter_field">Filter by</label>
            <select class="form-control" id="advanced_filter_field" name="advanced_filter" [(ngModel)]="advancedFilter">
            <option *ngFor="let memberAtt of memberEnum | keyvalue" [value]="memberAtt.key">{{memberEnum[memberAtt.key]}}</option>
          </select>
        </div>
        <div class="form-group col-6" *ngIf="showAdvancedFilters">
            <label for="global_filter">Filter</label>
            <input [(ngModel)]="filters.advanced" (input)="filterData()" type="text" class="form-control" id="global_filter" placeholder="">
        </div>
    </div>


    <div class="text-center mt-3 alert alert-info" *ngIf="requestForm.get('congress').value === 'unselected'">
        <h3>Please, select Chamber and Congress</h3>
    </div>

    <div class="loader" *ngIf="isLoading"></div>

    <div class="table-wrapper" *ngIf="members && members.length && !isLoading">
        <!-- Members Table -->
        <table class="table table-bordered table-striped members-table mt-4">
            <thead>
                <tr>
                    <th *ngFor="let memberField of memberEnum | keyvalue" scope="col">
                        {{memberField.value}}
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let member of members">
                    <td *ngFor="let memberAtt of member | keyvalue">
                        {{memberAtt.value ? memberAtt.value : '-'}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="button" class="btn btn-info btn-sm" [routerLink]="['/detail', member.id]">
                                <span class="d-none d-md-inline">Details</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center" *ngIf="members && members.length === 0 && !isLoading && requestForm.get('congress').value !== 'unselected'">
        <h2>
            No results found
        </h2>
    </div>
    <div class="d-flex justify-content-between p-2 container pagination" *ngIf="members && members.length && !isLoading">
        <ngb-pagination class="m-auto" [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="pageChange()" [size]="'sm'">
        </ngb-pagination>
    </div>
</div>